*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#050505;

    color:#FFFFFF;

    font-family:"Montserrat",sans-serif;

    overflow-x:hidden;

}
/*=============================
        GOOGLE FONT
==============================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


/*=============================
          RESET
==============================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#050505;
    color:white;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}


/*=============================
          HEADER
==============================*/

.header{
    background-color: black;
    position:absolute;
    top:0;
    left:0;

    width:100%;

    z-index:1000;

    padding:25px 6%;
}


/*=============================
          NAVBAR
==============================*/

.navbar{
    
    display:flex;

    justify-content:space-between;

    align-items:center;

}


/*=============================
            LOGO
==============================*/

.logo img{

    width:5rem;

    display:block;

}


/*=============================
          NAV LINKS
==============================*/

.nav-links{

    display:flex;

    align-items:center;

    gap:42px;

}

.nav-links a{

    position:relative;

    font-size:.86rem;

    font-weight:600;

    text-transform:uppercase;

    letter-spacing:1px;

    transition:.35s;

}

.nav-links a:hover{

    color:#8B5CF6;

}

/* Línea inferior */

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#8B5CF6;

    transition:.35s;

}

.nav-links a:hover::after{

    width:100%;

}


/*=============================
         BOTÓN
==============================*/

.btn-reserva{

    display:flex;

    align-items:center;

    gap:12px;

    padding:15px 28px;

    background:#7C3AED;

    border-radius:8px;

    font-size:.85rem;

    font-weight:700;

    text-transform:uppercase;

    transition:.35s;

}

.btn-reserva:hover{

    background:#9155ff;

    transform:translateY(-2px);

    box-shadow:0px 10px 30px rgba(124,58,237,.45);

}

.btn-reserva span{

    transition:.35s;

}

.btn-reserva:hover span{

    transform:translate(5px,-4px);

}


/*=============================
       MENU HAMBURGUESA
==============================*/

.menu-toggle{

    display:none;

    cursor:pointer;

    flex-direction:column;

    gap:6px;

}

.menu-toggle span{

    width:28px;

    height:3px;

    border-radius:20px;

    background:white;

    transition:.35s;

}


/*=============================
        STICKY
==============================*/

.header.sticky{

    position:fixed;

    background:rgba(8,8,8,.75);

    backdrop-filter:blur(14px);

    -webkit-backdrop-filter:blur(14px);

    padding:18px 6%;

    box-shadow:0 5px 25px rgba(0,0,0,.35);

}


/*=============================
       RESPONSIVE
==============================*/

@media(max-width:1200px){

.nav-links{

gap:25px;

}

.logo img{

width:5rem;

}

.btn-reserva{

padding:14px 22px;

font-size:.8rem;

}

}



@media(max-width:992px){

.nav-links{

position:fixed;

top:0;

right:-100%;

width:300px;

height:100vh;

background:#090909;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:40px;

transition:.45s;

box-shadow:-10px 0px 35px rgba(0,0,0,.5);

}

.nav-links.active{

right:0;

}

.menu-toggle{

display:flex;

z-index:1100;

}

.btn-reserva{

display:none;

}

}

/*=============================
@media(max-width:768px){

.header{

padding:22px 8%;

}

.logo img{

width:5rem;

}

}          RESET
==============================*/

@media (max-width:768px){

.hero{

    min-height:auto;
    padding-top:120px;
    padding-bottom:60px;

}

.hero-container{

    display:flex;
    flex-direction:column;

    background-position:70% center;

    padding:0 25px;

}

.hero-title{

    font-size:3.2rem;
    line-height:.95;

}

.hero-description{

    width:100%;
    font-size:1rem;

}

.hero-buttons{

    width:100%;
    flex-direction:column;

}

.btn-primary,
.btn-secondary{

    width:100%;
    justify-content:center;

}

.hero-stats{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:25px;

    margin-top:50px;

}

}



@media(max-width:480px){

.logo img{

width:5rem;

}

.nav-links{

width:100%;

}

}
/*=========================================
              HERO
=========================================*/

.hero{
    min-height:100vh;
    background:#050505;
    display:flex;
    align-items:center;
    overflow:hidden;
    position:relative;
}

/* Fondo con iluminación */

.hero::before{
    content:"";
    position:absolute;
    inset:0;

    background:
    radial-gradient(circle at 80% 30%, rgba(124,58,237,.25), transparent 35%),
    radial-gradient(circle at 60% 70%, rgba(37,99,235,.18), transparent 30%);

    pointer-events:none;
}

/*=========================================
          CONTENEDOR
=========================================*/

.hero-container{

    width:100%;
    max-width:1600px;

    margin:auto;

    padding:120px 6% 40px;

    display:grid;

    grid-template-columns:1fr 1.2fr;

    align-items:center;

    gap:50px;

    position:relative;
    z-index:2;
    
 background:

        linear-gradient(
            90deg,
            rgba(5,5,5,1) 0%,
            rgba(5,5,5,.95) 25%,
            rgba(5,5,5,.70) 45%,
            rgba(5,5,5,.20) 65%,
            rgba(5,5,5,0) 100%
        ),

        url("resources/controler.png");

    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;


}


/*=========================================
            TEXTO
=========================================*/

.hero-subtitle{

    display:inline-block;

    color:#8B5CF6;

    font-size:.9rem;

    letter-spacing:4px;

    text-transform:uppercase;

    font-weight:700;

    margin-bottom:25px;

}


.hero-title{

    font-size:6rem;

    line-height:.9;

    font-weight:900;

    text-transform:uppercase;

    margin-bottom:30px;

}


.hero-title span{

    color:#7C3AED;

}


.hero-description{

    width:470px;

    max-width:100%;

    color:#d0d0d0;

    line-height:1.8;

    font-size:1.05rem;

    margin-bottom:45px;

}


/*=========================================
          BOTONES
=========================================*/

.hero-buttons{

    display:flex;

    gap:20px;

    margin-bottom:70px;

}

.btn-primary,
.btn-secondary{

    display:flex;

    align-items:center;

    gap:12px;

    padding:18px 34px;

    border-radius:8px;

    font-weight:700;

    text-transform:uppercase;

    transition:.35s;

}


.btn-primary{

    background:#7C3AED;

}

.btn-primary:hover{

    background:#9155ff;

    transform:translateY(-4px);

    box-shadow:0 15px 35px rgba(124,58,237,.45);

}


.btn-secondary{

    border:1px solid rgba(255,255,255,.2);

    background:rgba(255,255,255,.03);

}

.btn-secondary:hover{

    border-color:#7C3AED;

    transform:translateY(-4px);

}


/*=========================================
        ESTADÍSTICAS
=========================================*/

.hero-stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}


.stat{

    border-left:1px solid rgba(255,255,255,.08);

    padding-left:22px;

}


.stat i{

    font-size:2rem;

    color:#7C3AED;

    margin-bottom:15px;

}


.stat h3{

    font-size:1.7rem;

    margin-bottom:6px;

}


.stat p{

    color:#bcbcbc;

    font-size:.9rem;

    text-transform:uppercase;

}


/*=========================================
          IMAGEN
=========================================*/

.hero-image{

    display:flex;

    justify-content:flex-end;

    position:relative;

}


.hero-image img{

    width:100%;

    max-width:900px;

    object-fit:cover;

    border-radius:20px;

    user-select:none;

    pointer-events:none;

}


/*=========================================
        RESPONSIVE
=========================================*/

@media (max-width:1400px){

.hero-title{

font-size:5rem;

}

}


@media (max-width:1200px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-content{

display:flex;

flex-direction:column;

align-items:center;

}

.hero-image{

justify-content:center;

margin-top:40px;

}

.hero-image img{

max-width:700px;

}

.hero-stats{

margin-top:30px;

}

.stat{

border:none;

padding:0;

}

}


@media (max-width:992px){

.hero{

padding-top:60px;

}

.hero-title{

font-size:4rem;

}

.hero-description{

font-size:1rem;

}

.hero-buttons{

flex-direction:column;

width:100%;

max-width:400px;

}

.btn-primary,
.btn-secondary{

justify-content:center;

}

.hero-stats{

grid-template-columns:repeat(2,1fr);

gap:40px;

}

}


 @media (max-width:768px){

.hero-container{

padding:120px 8% 50px;

}

.hero-title{

font-size:3rem;

}

.hero-subtitle{

font-size:.75rem;

letter-spacing:3px;

}

.hero-description{

font-size:.95rem;

}

.hero-image img{

max-width:100%;

}

}

@media (max-width:480px){

.hero-title{

font-size:2.4rem;

}

.hero-buttons{

max-width:100%;

}

.hero-stats{

grid-template-columns:1fr;

gap:30px;

}

.hero-description{

font-size:.9rem;

}

}

.hero-gradient::after{

    content:"";

    position:absolute;

    inset:0;

    background:

        radial-gradient(circle at 82% 18%,
        rgba(124,58,237,.30),
        transparent 28%),

        linear-gradient(
            90deg,
            #050505 0%,
            rgba(5,5,5,.95) 28%,
            rgba(5,5,5,.80) 42%,
            rgba(5,5,5,.20) 60%,
            rgba(5,5,5,0) 72%
        );

}

/*=========================================
                PLAY
=========================================*/

.play{

    padding:120px 6%;
    background:#050505;

}

.play-container{

    max-width:1600px;
    margin:auto;

    display:grid;

    grid-template-columns:340px 1fr;

    gap:40px;

}


/*=========================================
            INFORMACIÓN
=========================================*/

.play-info{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.play-info .section-tag{

    font-size:5rem;

    font-weight:900;

    text-transform:uppercase;

    line-height:.9;

    margin-bottom:30px;

}

.play-info h2{

    color:#7C3AED;

    font-size:2rem;

    text-transform:uppercase;

    margin-bottom:25px;

    line-height:1.1;

}

.play-info p{

    color:#b8b8b8;

    line-height:1.8;

    font-size:1rem;

}


/*=========================================
            TARJETAS
=========================================*/

.play-cards{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:22px;

}


/*=========================================
              CARD
=========================================*/

.play-card{

    background:#0B0B0F;

    border:1px solid rgba(255,255,255,.08);

    border-radius:12px;

    padding:35px 20px;

    text-align:center;

    transition:.35s;

    cursor:pointer;

}

.play-card:hover{

    transform:translateY(-8px);

    border-color:#7C3AED;

    box-shadow:0 15px 35px rgba(124,58,237,.20);

}

.play-card h3{

    font-size:1.8rem;

    margin-bottom:8px;

    text-transform:uppercase;

}

.play-card span{

    display:block;

    color:#9a9a9a;

    margin-bottom:35px;

}

.play-card img{

    width:90px;

    margin-bottom:35px;

}

.play-card h4{

    font-size:3rem;

    font-weight:800;

    margin-bottom:8px;

}

.play-card small{

    color:#b5b5b5;

    letter-spacing:2px;

}


/*=========================================
            LEVEL UP
=========================================*/

.featured{

    border:2px solid #7C3AED;

    background:linear-gradient(
        180deg,
        rgba(124,58,237,.18),
        rgba(10,10,10,1)
    );

}

.featured h3{

    color:#FFD43B;

}

.featured h4{

    color:#FFD43B;

}


/*=========================================
            HORA EXTRA
=========================================*/

.extra-hour{

    grid-column:2;

    margin-top:25px;

    display:grid;

    grid-template-columns:260px 1fr 260px;

    align-items:center;

    border:1px solid rgba(255,255,255,.08);

    border-radius:12px;

    overflow:hidden;

}

.extra-title{

    padding:30px;

    background:#0D0D10;

    color:#7C3AED;

    font-size:2rem;

    font-weight:800;

    text-align:center;

}

.extra-description{

    padding:30px;

    color:#d4d4d4;

    font-size:1.1rem;

}

.extra-price{

    background:#090909;

    text-align:center;

    font-size:3rem;

    font-weight:900;

    padding:20px;

}

.extra-price span{

    display:block;

    font-size:.85rem;

    color:#b5b5b5;

    letter-spacing:2px;

    margin-top:8px;

}


/*=========================================
            RESPONSIVE
=========================================*/

@media(max-width:1400px){

.play-cards{

grid-template-columns:repeat(3,1fr);

}

.featured{

grid-column:span 3;

}

}


@media(max-width:992px){

.play-container{

grid-template-columns:1fr;

}

.play-info{

text-align:center;

}

.extra-hour{

grid-column:auto;

grid-template-columns:1fr;

}

.extra-title,
.extra-description,
.extra-price{

text-align:center;

}

}


@media(max-width:768px){

.play{

padding:90px 25px;

}

.play-cards{

grid-template-columns:1fr;

}

.featured{

grid-column:auto;

}

.play-info .section-tag{

font-size:4rem;

}

.play-info h2{

font-size:1.6rem;

}

.play-card{

padding:30px 20px;

}

.play-card img{

width:80px;

}

.play-card h4{

font-size:2.5rem;

}

.extra-title{

font-size:1.6rem;

}

.extra-price{

font-size:2.4rem;

}

}

.last-hour{

    background-image:url("resources/ChatGPT\ Image\ 27\ jul\ 2026\,\ 07_01_21.png");

    background-size:cover;

    background-position:center;

}
/*=========================================
            LAST HOUR
=========================================*/

.last-hour{

    position:relative;

    padding:80px 6%;

    overflow:hidden;

}

.last-hour-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        90deg,
        rgba(5,5,5,.90) 0%,
        rgba(5,5,5,.70) 25%,
        rgba(5,5,5,.25) 55%,
        rgba(5,5,5,.70) 100%
    );

}

.last-hour-container{

    position:relative;

    z-index:2;

    max-width:1600px;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:40px;

}


/*=========================================
            INFORMACIÓN
=========================================*/

.last-hour-content{

    max-width:450px;

}

.last-hour-tag{

    display:block;

    font-size:4rem;

    font-weight:900;

    color:#FFC107;

    text-transform:uppercase;

    margin-bottom:20px;

}

.last-hour-content h2{

    font-size:2.2rem;

    text-transform:uppercase;

    margin-bottom:18px;

}

.last-hour-content p{

    color:#D0D0D0;

    font-size:1rem;

    line-height:1.8;

    margin-bottom:35px;

}


/*=========================================
                BOTÓN
=========================================*/

.last-hour-btn{

    display:inline-flex;

    align-items:center;

    gap:12px;

    padding:18px 35px;

    border:2px solid rgba(255,193,7,.5);

    color:white;

    text-transform:uppercase;

    font-weight:700;

    border-radius:8px;

    transition:.35s;

}

.last-hour-btn:hover{

    background:#FFC107;

    color:#111;

}

.last-hour-btn span{

    transition:.3s;

}

.last-hour-btn:hover span{

    transform:translate(5px,-4px);

}


/*=========================================
            PRECIOS
=========================================*/

.last-hour-prices{

    display:flex;

    gap:18px;

}

.price-card{

    background:#FFC107;

    color:#111;

    border-radius:10px;

    padding:22px 35px;

    text-align:center;

    min-width:150px;

    transition:.35s;

}

.price-card:hover{

    transform:translateY(-8px);

}

.price-card h3{

    font-size:2.3rem;

    font-weight:900;

    margin-bottom:5px;

}

.price-card span{

    font-weight:700;

    letter-spacing:1px;

}


/*=========================================
            HORARIO
=========================================*/

.last-hour-schedule{

    display:flex;

    align-items:center;

    gap:18px;

}

.schedule-icon{

    width:75px;

    height:75px;

    border-radius:50%;

    border:2px solid white;

    display:flex;

    align-items:center;

    justify-content:center;

}

.schedule-icon i{

    font-size:2.2rem;

    color:white;

}

.schedule-info small{

    display:block;

    color:#D8D8D8;

    letter-spacing:2px;

    margin-bottom:8px;

}

.schedule-info h3{

    font-size:2rem;

    font-weight:800;

}
/*=========================================
            LAST HOUR MOBILE
=========================================*/

@media (max-width:768px){

.last-hour{

    padding:70px 25px;

    background-position:center;

}

.last-hour-overlay{

    background:rgba(5,5,5,.80);

}

.last-hour-container{

    flex-direction:column;

    text-align:center;

    gap:35px;

}

.last-hour-content{

    width:100%;

}

.last-hour-tag{

    font-size:2.7rem;

    line-height:1;

}

.last-hour-content h2{

    font-size:1.5rem;

}

.last-hour-content p{

    font-size:.95rem;

    margin-bottom:25px;

}

.last-hour-btn{

    width:100%;

    justify-content:center;

}

.last-hour-prices{

    width:100%;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:15px;

}

.price-card{

    min-width:auto;

    padding:20px;

}

.price-card h3{

    font-size:2rem;

}

.last-hour-schedule{

    flex-direction:column;

    gap:15px;

}

.schedule-info h3{

    font-size:1.4rem;

}

.schedule-info small{

    letter-spacing:1px;

}

}
/*=========================================
        LAST HOUR SMALL MOBILE
=========================================*/

@media (max-width:480px){

.last-hour{

    padding:60px 20px;

}

.last-hour-tag{

    font-size:2.2rem;

}

.last-hour-content h2{

    font-size:1.2rem;

}

.last-hour-content p{

    font-size:.9rem;

}

.last-hour-prices{

    grid-template-columns:1fr;

}

.price-card{

    width:100%;

}

.price-card h3{

    font-size:2.2rem;

}

.last-hour-btn{

    padding:16px;

}

.schedule-icon{

    width:60px;

    height:60px;

}

.schedule-icon i{

    font-size:2rem;

}

.schedule-info h3{

    font-size:1.2rem;

}

}